<!-- Admin Home Page -->
<%- include('../includes/header') %>
<%- include('../includes/navigation'); %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>This is <%-pageTitle%> Page</h1>
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-success btn-block">Login</button>
                    <a href="/admin/add-product" class="btn btn-primary btn-block">Add Product</a>
                    <a href="/admin/prod-list" class="btn btn-secondary btn-block">Check Products</a>
                    <a href="/admin/manage" class="btn btn-dark btn-block">Manage Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<%- include('../includes/footer') %>
